.swiper {
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  position: relative;
  margin-top: 16px;
}
.swiper-pagination-bullet {
  background-color: red;
}

.swiper-slide {
  text-align: center;
  font-size: 30px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
